/* Input Styles Overridings */

textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control {
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 -1px 0 #dddddd;
  box-shadow: inset 0 -1px 0 #dddddd;
  font-size: 16px;
}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 #2196f3;
  box-shadow: inset 0 -2px 0 #2196f3;
}
textarea[disabled],
textarea.form-control[disabled],
input.form-control[disabled],
input[type=text][disabled],
input[type=password][disabled],
input[type=email][disabled],
input[type=number][disabled],
[type=text].form-control[disabled],
[type=password].form-control[disabled],
[type=email].form-control[disabled],
[type=tel].form-control[disabled],
[contenteditable].form-control[disabled],
textarea[readonly],
textarea.form-control[readonly],
input.form-control[readonly],
input[type=text][readonly],
input[type=password][readonly],
input[type=email][readonly],
input[type=number][readonly],
[type=text].form-control[readonly],
[type=password].form-control[readonly],
[type=email].form-control[readonly],
[type=tel].form-control[readonly],
[contenteditable].form-control[readonly] {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px dotted #ddd;
}
textarea.input-sm,
textarea.form-control.input-sm,
input.form-control.input-sm,
input[type=text].input-sm,
input[type=password].input-sm,
input[type=email].input-sm,
input[type=number].input-sm,
[type=text].form-control.input-sm,
[type=password].form-control.input-sm,
[type=email].form-control.input-sm,
[type=tel].form-control.input-sm,
[contenteditable].form-control.input-sm {
  font-size: 12px;
}
textarea.input-lg,
textarea.form-control.input-lg,
input.form-control.input-lg,
input[type=text].input-lg,
input[type=password].input-lg,
input[type=email].input-lg,
input[type=number].input-lg,
[type=text].form-control.input-lg,
[type=password].form-control.input-lg,
[type=email].form-control.input-lg,
[type=tel].form-control.input-lg,
[contenteditable].form-control.input-lg {
  font-size: 17px;
}