/* ======================================================== *\
	PhotoLand App Styles
\* ======================================================== */

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	&[class^=col] {
		float: none;
	}
}

.text-centered {
	text-align: center;
}

%truncate {
  width: 250px;
  height: 5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-load {
	margin-bottom: 20px;
}



// Images
.gallery {
	margin: 30px 0 0;

	.gallery-row {
		margin: 0 auto 2rem;
		display: flex;
		justify-content: space-between;
	}

	.item {
		width: 360px;
		list-style-type: none;
		padding: 25px 20px;
		background: #eee;
		border: 1px solid #ddd;
		box-shadow: 1px 1px 5px -2px rgba(0,0,0,0.3);
		box-sizing: border-box;

		img {
			margin: 0 auto;
			display: block;
			border: 1px solid #aaa;
			box-shadow: 2px 2px 5px #ccc;
		}
		
		.info {
			text-align: justify;
			@extend %truncate;
			width: 100%;
		}
		
	}
	
}

.gallery__content{

	.item {
		transition: 0.35s opacity linear;
		margin: 0 1rem 0 0;
		display: flex;

		.description {
			padding: 20px;
		    margin: 20px 0 0;	
		    background: #fff;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	.overlay {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;

	}
	
	@media screen and ( min-width: 800px ){			
		&:hover {
			.item{
				opacity: 0.6;
				transition: 0.35s opacity linear;
				
				&:hover {
					opacity: 1;
					animation: 0.5s bounce;
				}
			}
		}
	}
}


// Loader
$bg: $body-bg;
$fill: $brand-primary;

.hourglass{
    display:block;
    background:$bg;
    margin:3em auto;
    width:2em;
    height:4em;
    box-shadow:
        inset $bg 0 0 0 0,
        inset $fill 0 2em 0 0,
        inset $bg 0 0 4em 0;
    animation:hourglass 1s linear infinite;
}

.outer{
    fill:$fill;
}

.middle{
    fill:$bg;
}

@keyframes hourglass{
    0%{
        transform:rotate(0deg);
        box-shadow:
            inset $bg 0 0 0 0,
            inset $fill 0 2em 0 0,
            inset $bg 0 4em 0 0,
            inset $fill 0 4em 0 0;
    }
    80%{
        transform:rotate(0deg);
        box-shadow:
            inset $bg 0 2em 0 0,
            inset $fill 0 2em 0 0,
            inset $bg 0 2em 0 0,
            inset $fill 0 4em 0 0;
    }
    100%{
        transform:rotate(180deg);
        box-shadow:
            inset $bg 0 2em 0 0,
            inset $fill 0 2em 0 0,
            inset $bg 0 2em 0 0,
            inset $fill 0 4em 0 0;
    }
}

/* ======================================================== *\
	Responsive Styles
\* ======================================================== */

@media screen and ( max-width: 1000px ) {
	
	.gallery__content {
		
		.item {
			
			.description {
				margin-top: 1.25rem;
				padding: 1rem;
			}

			.info {
				line-height: 1.5em;
				height: 10em;
				text-align: left;
			}
		}
	}

}

@media screen and ( max-width: 800px ) {

	.form-wrapper {
		width: percentage(2/3); 
	}
}

@media screen and ( max-width: 560px ) {
	.gallery__content {
		
		.row {
			display: block;

		}

		.item {
			display: block;
			margin: 0 auto 2rem;

			.info {
				line-height: 1.5em;
				height: 10em;
				text-align: left;
			}

			&:last-child {
				margin-right: auto;
			}
		}
	}
}