<!DOCTYPE html>
<html lang="pt-BR" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Valerie | Filters</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css">
	<link rel="stylesheet" href="/css/main.css">
	
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	<!-- For Localization -->
	<script src="https://code.angularjs.org/1.5.0/i18n/angular-locale_pt-br.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
	<script src="/js/main.js"></script>
</head>
<body>
	<div>
		<main class="main">
			<div class="container">
				<div class="row">
					<div class="col-md-6" ng-controller="TestCtrl as test">
						<h1 class="title">Filters</h1>
						<form class="form-horizontal" name="form" novalidate>
							<input type="text" class="form-control" name="myString" ng-model="test.myString" />
							<p class="alone">{{ test.myString | capitalize }}</p>
							<input type="text" class="form-control" placeholder="Enter e-mail" name="email" ng-model="test.email" />
							<p class="alone" ng-class="{ red: test.email.length > 20 }">{{ test.email | validEmail }} | {{ test.email.length }}</p>
						</form>
						
					</div><!-- END half-width collumn -->

				</div>
			</div><!-- END .container -->
		</main><!-- END main -->
	</div>
</body>
</html>