<!DOCTYPE html>
<html lang="pt-BR" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Valerie</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css">
	<link rel="stylesheet" href="/css/main.css">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
	<script src="/js/main.js"></script>
</head>
<body>
	<div ng-controller="MainController">
		<main class="main">
			<div class="container">
				<h1 class="subtitle">{{ message }}</h2>

				<div class="row">
					<h2 class="">Buttons</h2>
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary" ng-model="bigData.breakfast" btn-checkbox>
							Breakfast
						</label>
						<label class="btn btn-primary" ng-model="bigData.lunch" btn-checkbox>
							Lunch
						</label>
						<label class="btn btn-primary" ng-model="bigData.dinner" btn-checkbox>
							Dinner
						</label>
					</div>
	
					<div class="row code-partial">
						<pre><code>{{ bigData | json }}</code></pre>
					</div>
				</div>
				
				<hr />
					
				<div class="row">
					<h2 class="">Collapse</h2>
					<a href="#" id="btn-toggle-panel" class="btn btn-primary alone" ng-click="toggleCollapse(); $event.preventDefault()">Toggle Panel</a>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a href="#" ng-click="isCollapsed = !isCollapsed">
									Collapsible Group Item #1
								</a>
							</h4>
						</div>

						<div collapse="isCollapsed">
							<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magnam et omnis necessitatibus? Debitis dolorum iure totam explicabo amet corrupti quaerat non minima. Expedita non beatae adipisci libero iste dolor.</div>
						</div>
					</div>
					<!-- END panel -->
				</div>
				<!-- END row -->
			</div>
		</main>
	</div>
</body>
</html>